#home {
    position: relative;
    top: -10px;
}

#home-parent-card-header {
    position: relative;
    color: #F3F2F2
}

#home-parent-card-body {
    background-color: #EAE9E9;
}


#home-child-card {
    width: 350px;

    p {
        margin-left: -20px;
    }
}

#green{

    color:green

}

#grey{

    color: #787c7988

}

